In [1]:
import os
import django

In [2]:
os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'rest.settings')
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"
django.setup()

In [3]:
prod = Product.objects.all()

In [4]:
prod

<QuerySet [<Product: 6 Kanken 100 2950.00 Sky blue 0>, <Product: 5 Nike Air Force 1 10 2800.00 grey 18>, <Product: 4 T-shirt 99 790.00 beige 0>, <Product: 3 Classic Sunglasses 1000 4990.00 white 0>, <Product: 2 Basic Jeans 20 1390.00 blue 18>, <Product: 1 Heart Sweater 10 990.00 pink 8>]>

In [6]:
import pandas as pd

In [7]:
pd.DataFrame(prod.values())

,id,seller,title,picture,slug,category_id,price,color,size,quantity,description,created
0,6,moow,Kanken,myimages/FF8C68C6-9BC8-4B54-8B80-032E65764FCE....,bag,8,2950.00,Sky blue,0,100,Kanken,2022-05-03 18:39:30.036255+00:00
1,5,benz,Nike Air Force 1,myimages/6BE934CC-5C7C-423F-B546-931471117E46....,shoes,10,2800.00,grey,18,10,Nike Air Force 1 สีฟ้าเทาทูโทน,2022-05-03 18:38:40.273429+00:00
2,4,pla,T-shirt,myimages/5BF3CD04-C1F8-4F1C-930E-2014485B86E0....,shirt,1,790.00,beige,0,99,เสื้อยืด Over size,2022-05-03 18:37:36.890151+00:00
3,3,pat,Classic Sunglasses,myimages/02E6077B-7E9F-4067-B127-2F3B52CFEB5E....,glasses,9,4990.00,white,0,1000,แว่นกันแดดรุ่นคลาสสิค,2022-05-03 18:36:19.781188+00:00
4,2,boat,Basic Jeans,myimages/CEF0BED8-71CA-4436-AAFF-80EC1AE088F3....,jeans,2,1390.00,blue,18,20,กางเกงยีนส์ลายหัวใจ,2022-05-03 18:35:21.213126+00:00
5,1,foad,Heart Sweater,myimages/DE91C04F-E5B5-4459-9412-56436E8C5EB9....,sweater,2,990.00,pink,8,10,เสื้อกันหนาวลายหัวใจ,2022-05-03 18:33:56.416009+00:00

จำนวนสินค้าใน stock ของเว็บไซต์

In [25]:
prod.aggregate(Sum('quantity'))

{'quantity__sum': 1239}

จำนวนรายการสินค้าในเว็บ

In [10]:
prod.count()

6

แสดงรายการสินค้าที่มีราคาน้อยกว่า 1000

In [23]:
pd.DataFrame(prod.filter(price__lte = 1000))

                                  0
0       4 T-shirt 99 790.00 beige 0
1  1 Heart Sweater 10 990.00 pink 8

สินค้าที่มีโทนสีฟ้า

In [29]:
pd.DataFrame(prod.filter(color__contains = 'blue'))

                                  0
0   6 Kanken 100 2950.00 Sky blue 0
1  2 Basic Jeans 20 1390.00 blue 18